#welcome-header {
  font-size: 11rem;
  color: purple;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-shadow: 2px 2px darkgreen;
  margin-top: 5rem;
  text-align: center;
}

#tagline {
  text-align: center;
  color: green;
  font-size: 2.5rem;
}

.container {
  text-align: center;
}

#welcome-button:link,
#welcome-button:visited {
  background-color: purple;
  color: lightgreen;
  padding: 14px 25px;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  font-weight: bolder;
  border-radius: 10px;
}

#welcome-button:hover,
#welcome-button:active {
  background-color: green;
  color: purple;
}

/*==================================/
  *** Media Queries ***
/===================================*/

@media only screen and (min-width: 575px) and (max-width: 699px) {
  #welcome-header {
    font-size: 13rem;
  }
}

@media only screen and (min-width: 700px) {
  #welcome-header {
    font-size: 15rem;
  }
  #tagline {
    font-size: 3rem;
  }
}
